fastapi==0.115.8
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.6
pydantic-settings==2.7.1

numpy==1.26.4
opencv-python-headless==4.10.0.84
paddleocr==2.8.1
paddlepaddle==2.6.2

SQLAlchemy==2.0.37
psycopg2-binary==2.9.10
python-dotenv==1.0.1

spacy==3.8.11
transformers==4.49.0
torch==2.6.0

pytest==8.3.4
